---
import Icons from "@/helpers/Icons.astro";
import { getLocaleUrlCTM, useTranslations } from "@/lib/utils/i18nUtils";
import {
  toSentenceCase,
  markdownify,
  plainify,
} from "@/lib/utils/textConverter";
import OptimizedImage from "./utilities/OptimizedImage.astro";
import getRelatedContent from "@/lib/utils/getRelatedContent";
import { getCollectionCTM } from "@/lib/contentParser.astro";
import IntegrationCard from "./cards/IntegrationCard.astro";
import CustomButton from "./CustomButton.astro";
import { render } from "astro:content";
import type { CollectionEntry } from "astro:content";

type Props = {
  content: CollectionEntry<"integration">;
};

let {
  content: {
    data: { title, excerpt, image, button, fields, categories },
    collection,
  },
} = Astro.props;

const t = await useTranslations(Astro.currentLocale as string);
const { Content } = await render(Astro.props.content);
const integrationHref = getLocaleUrlCTM("/" + collection, Astro.currentLocale);

const integrations = await getCollectionCTM(
  collection as "integration",
  Astro.currentLocale,
);

// Related Integration
const relatedIntegrations = getRelatedContent(
  integrations,
  Astro.props.content,
  ["title", "categories"],
  [],
  4,
);
---

<section>
  <div class="container">
    <div
      class="has-video-modal grid grid-cols-1 gap-y-12 lg:grid-cols-7 lg:items-start">
      <div class="col-span-2 space-y-8 lg:sticky lg:top-32 lg:max-w-52">
        <div class="space-y-5">
          <a
            href={integrationHref}
            class="flex items-center text-black opacity-70 transition hover:underline hover:opacity-100">
            <Icons icon="ChevronLeft" class="text-xl" />
            {t("integration.backToIntegration")}
          </a>

          {
            image && (
              <div class="bg-primary/10 flex h-36 w-full items-center justify-center rounded-xl py-4">
                <OptimizedImage
                  src={image}
                  width={125}
                  height={125}
                  alt={"About " + plainify(title).toLowerCase()}
                  class="h-full w-full rounded-xl object-contain"
                />
              </div>
            )
          }
          {
            button && (
              <CustomButton
                class="w-full text-center"
                title={"Learn more about " + plainify(title).toLowerCase()}
                {...button}
              />
            )
          }
        </div>
        {
          fields && (
            <div class="prose-styles space-y-4 divide-y">
              {fields.map((field) => (
                <div class="space-y-1.5 pb-4 first:pt-0">
                  <div class="font-medium text-black" set:html={field.name} />
                  <div set:html={markdownify(field.content)} />
                </div>
              ))}
              <div class="space-y-1.5 pb-4 first:pt-0">
                <div
                  class="font-medium text-black"
                  set:html={t("common.category")}
                />
                <div class="flex flex-wrap gap-2">
                  {categories?.map((category) => (
                    <a
                      href={getLocaleUrlCTM(
                        "/" + collection + "/#" + category,
                        Astro.currentLocale,
                      )}
                      set:html={markdownify(toSentenceCase(category))}
                    />
                  ))}
                </div>
              </div>
            </div>
          )
        }
      </div>
      <div class="col-span-5 space-y-10">
        <div>
          {title && <h2 class="h4" set:html={markdownify(title)} />}
          {excerpt && <p class="mt-4" set:html={markdownify(excerpt)} />}
        </div>
        <div class="prose-styles">
          {Content && <Content />}
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Related Integrations -->
<section>
  <div class="container space-y-12 lg:space-y-16">
    {
      title && (
        <div class="mx-auto text-center">
          <h2
            class="has-italic-text capitalize"
            set:html={markdownify(
              t("integration.relatedIntegrationSectionTitle"),
            )}
          />
        </div>
      )
    }
    <div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-4">
      {
        relatedIntegrations.map((item) => (
          <IntegrationCard
            content={item.data}
            slug={item.data?.customSlug || item.id}
            collection={item.collection}
          />
        ))
      }
    </div>
  </div>
</section>
