---
import type { Section } from "@/types";
import Icons from "@/helpers/Icons.astro";
import type { InferEntrySchema } from "astro:content";
import { getEntryCTM } from "@/lib/contentParser.astro";
import { markdownify } from "@/lib/utils/textConverter";
import VideoModal from "@/layouts/components/widgets/VideoModal.astro";
import OptimizedImage from "@/components/utilities/OptimizedImage.astro";
import AccordionList from "@/layouts/components/widgets/AccordionList.astro";

// Type for this section data
type SectionType = Section & InferEntrySchema<"changelog">;
type Props = {
  listPage?: boolean;
};

// Fetching the default content for the this section
let content = (await getEntryCTM("changelog", "-index", Astro.currentLocale))
  ?.data as SectionType;

let list = content.list;
---

<div class="has-video-modal">
  {
    list.map((changelog, changelogIndex) => (
      <div class="relative flex flex-col items-start gap-4 pb-10 last:pb-0 md:pb-20 lg:flex-row before:lg:left-[158px] after:lg:left-[164px]">
        <div class="w-full max-w-[164px] space-y-2 max-lg:ps-5 lg:sticky lg:top-40 lg:pe-16">
          {changelog.version && (
            <p
              class="md:text-h4 text-h4-sm font-medium text-black md:mt-3"
              set:html={markdownify(changelog.version)}
            />
          )}
          {changelog.date && <p set:html={markdownify(changelog.date)} />}
        </div>
        <div class="lg:from-primary from-primary/25 absolute top-2 left-0 h-full w-px bg-linear-to-b lg:left-[184px]" />
        <div class="absolute top-10 -left-2 h-4 w-4 rounded-full border bg-white lg:left-[177px]" />

        <div class="flex-1 space-y-8 ps-5 lg:space-y-10 lg:ps-16">
          <div>
            {changelog.title && (
              <h2 class="h4 mt-1.5" set:html={markdownify(changelog.title)} />
            )}
            {changelog.types && (
              <div class="mt-8 flex flex-wrap gap-x-3 gap-y-3 lg:gap-x-6">
                {changelog.types.map((item) => (
                  <div class="from-primary/10 to-bg-primary/10 text-primary flex items-center gap-3 rounded-full bg-linear-to-r py-1 ps-2.5 pe-5">
                    <Icons icon={item.icon as any} class="text-primary" />
                    {markdownify(item.label)}
                  </div>
                ))}
              </div>
            )}
          </div>
          {changelog.content && (
            <div
              class="prose-styles"
              set:html={markdownify(changelog.content)}
            />
          )}
          {changelog.video && (
            <div class="relative">
              <OptimizedImage
                width={900}
                height={400}
                src={changelog.video.poster as any}
                alt={
                  "video thumbnail related to" +
                  markdownify(changelog.title.toLocaleLowerCase())
                }
                class="h-72! w-full max-w-full! rounded-2xl object-cover md:h-96!"
              />
              {changelog.video.src && (
                <>
                  <button
                    type="button"
                    title="Play Video"
                    aria-haspopup="dialog"
                    aria-expanded="false"
                    aria-controls={"#" + changelog.video.id + changelogIndex}
                    data-hs-overlay={"#" + changelog.video.id + changelogIndex}
                    data-hs-overlay-options={`{"emulateScrollbarSpace" : true}`}
                    class="video-modal-toggle translate-centered has-animated-waves absolute flex h-20 w-20 items-center justify-center rounded-full transition-transform duration-300 hover:scale-110">
                    <div class="relative z-10 flex h-20 w-20 items-center justify-center rounded-full">
                      <Icons
                        icon="Play"
                        class="icon fill-white pe-1 text-3xl"
                      />
                    </div>
                  </button>
                  {changelog.video && (
                    <VideoModal
                      video={{
                        id:
                          (changelog.video.id || "changelog-video") +
                          changelogIndex,
                        src: changelog.video.src,
                        provider: changelog.video.provider,
                      }}
                    />
                  )}
                </>
              )}
            </div>
          )}
          {changelog.changes && (
            <AccordionList
              bgColor="light"
              role="tabpanel"
              changelogContent={true}
              content={changelog.changes}
              class:list={["col-span-5 xl:col-span-6"]}
              id={"tab-1-" + changelogIndex}
              tabIndex={"group-1-" + changelogIndex}
              aria-labelledby={"tab-item-1-" + changelogIndex}
            />
          )}
        </div>
      </div>
    ))
  }
</div>
